{% extends "arch/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
	<head>
	<!--===============================================================================================-->	
		<link rel="icon" type="image/png" href="{% static "arch/media/favicon.ico" %}"/>
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'arch/login/vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'arch/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'arch/login/css/util.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'arch/login/css/main.css' %}">
	<!--===============================================================================================-->
	</head>
	<body>
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<div class="content-section">
					<div class="media">
						{% if user.profile.image%}
					 		 <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
						{% endif %}
					  <div class="media-body">
						<h2 class="account-heading">{{ user.username }}</h2>
						<p class="text-secondary">{{ user.email }}</p>
					  </div>
					</div>
					<!-- FORM HERE -->
					<form method="POST" enctype="multipart/form-data">
					  {% csrf_token %}
					  <fieldset class="form-group">
						<legend class="border-bottom mb-4">Profile Info</legend>
						{{ u_form|crispy }}
						{{ p_form|crispy }}
					  </fieldset>
					  <div class="form-group">
						<button class="btn btn-outline-info" type="submit">Update</button>
					  </div>
					</form>
				  </div>
				</div>
			</div>
		</div>
		
{% endblock %}